In [1]:
import pandas as pd
df = pd.DataFrame( {
            "airlines" : ['Air New Zealand', 'SIA', 'Qantas', 'SIA', 'SIA', 'Air New Zealand', 'SIA', 'SIA', 'Cathay Pacific', 'Cathay Pacific', 'SIA', 'SIA', 'Cathay Pacific', 'Qantas', 'SIA', 'Qantas', 'SIA', 'Air New Zealand', 'SIA', 'Cathay Pacific', 'Cathay Pacific', 'Air New Zealand', 'Qantas', 'Air New Zealand', 'SIA', 'Cathay Pacific', 'Cathay Pacific', 'Qantas', 'Qantas', 'SIA', 'SIA', 'SIA', 'SIA', 'Air New Zealand', 'Cathay Pacific', 'Cathay Pacific', 'Air New Zealand', 'Air New Zealand', 'Qantas', 'Qantas'],
            "aircraft_type" : ['Air Bus A320', 'Air Bus A320', 'Boeing 777', 'Air Bus A320', 'Boeing 777', 'Boeing 787', 'Air Bus A320', 'Airbus A330', 'Air Bus A320', 'Air Bus A320', 'Boeing 777', 'Airbus A330', 'Airbus A330', 'Boeing 777', 'Air Bus A320', 'Airbus A330', 'Boeing 787', 'Airbus A330', 'Boeing 787', 'Boeing 777', 'Boeing 777', 'Air Bus A320', 'Air Bus A320', 'Air Bus A320', 'Air Bus A320', 'Boeing 777', 'Airbus A330', 'Boeing 777', 'Air Bus A320', 'Air Bus A320', 'Air Bus A320', 'Air Bus A320', 'Boeing 787', 'Airbus A330', 'Air Bus A320', 'Air Bus A320', 'Air Bus A320', 'Boeing 787', 'Air Bus A320', 'Boeing 777'],
            "seats_filled" : [177, 162, 132, 151, 209, 140, 104, 191, 187, 217, 237, 220, 218, 168, 109, 138, 193, 249, 189, 215, 131, 194, 159, 101, 170, 104, 157, 248, 93, 197, 192, 175, 113, 213, 92, 93, 192, 139, 181, 110], 
            "ticket_price" : [1012, 542, 1179, 867, 1150, 639, 637, 1186, 311, 849, 402, 434, 744, 329, 744, 610, 985, 448, 559, 813, 319, 805, 777, 879, 749, 830, 743, 612, 655, 1007, 1021, 1073, 825, 783, 551, 631, 352, 338, 650, 347]
            })

           airlines aircraft_type  seats_filled  ticket_price
0   Air New Zealand  Air Bus A320           177          1012
1               SIA  Air Bus A320           162           542
2            Qantas    Boeing 777           132          1179
3               SIA  Air Bus A320           151           867
4               SIA    Boeing 777           209          1150
5   Air New Zealand    Boeing 787           140           639
6               SIA  Air Bus A320           104           637
7               SIA   Airbus A330           191          1186
8    Cathay Pacific  Air Bus A320           187           311
9    Cathay Pacific  Air Bus A320           217           849
10              SIA    Boeing 777           237           402
11              SIA   Airbus A330           220           434
12   Cathay Pacific   Airbus A330           218           744
13           Qantas    Boeing 777           168           329
14              SIA  Air Bus A320           109           744
15           Qantas   Airbus A330           138           610
16              SIA    Boeing 787           193           985
17  Air New Zealand   Airbus A330           249           448
18              SIA    Boeing 787           189           559
19   Cathay Pacific    Boeing 777           215           813
20   Cathay Pacific    Boeing 777           131           319
21  Air New Zealand  Air Bus A320           194           805
22           Qantas  Air Bus A320           159           777
23  Air New Zealand  Air Bus A320           101           879
24              SIA  Air Bus A320           170           749
25   Cathay Pacific    Boeing 777           104           830
26   Cathay Pacific   Airbus A330           157           743
27           Qantas    Boeing 777           248           612
28           Qantas  Air Bus A320            93           655
29              SIA  Air Bus A320           197          1007
30              SIA  Air Bus A320           192          1021
31              SIA  Air Bus A320           175          1073
32              SIA    Boeing 787           113           825
33  Air New Zealand   Airbus A330           213           783
34   Cathay Pacific  Air Bus A320            92           551
35   Cathay Pacific  Air Bus A320            93           631
36  Air New Zealand  Air Bus A320           192           352
37  Air New Zealand    Boeing 787           139           338
38           Qantas  Air Bus A320           181           650
39           Qantas    Boeing 777           110           347

In [2]:
print(df['ticket_price'<1150])

NameError: name 'ticket_price' is not defined